@media only screen and (max-width: 600px){
  .buttons{
    flex-direction: column-reverse;
  }
}

.App {
  text-align: center;
}
#quote-box{
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  color: black;
  width: 600px;
  
}
#text{
  margin-bottom:0px;
}
#quote-icon{
  margin-right: 10px;
}
#author{
  margin-top: 0;
  text-align: end;
}

#new-quote{
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10xpx;
  float: right;
}

#buttons{
  display: flex;
  justify-content: space-between;
  float: left;
  min-height: 50px;
}
#tweet-quote{
  float: left;
  padding-left: 10px;
  color: white;
  text-decoration: none;
  display: flex;
  height: 100%;
  max-width: 50px;
  align-self: center;
}

.App-header {
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

